<div class="contact-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.974072138003!2d19.91002327687447!3d50.06804721482362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sWydzia%C5%82%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1sen!2spl!4v1728137709350!5m2!1sen!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="contact-map"></iframe>
    <div class="contact-text">
        <div class="address">
            <h2>adres</h2>
            budynek D17, pokój 2.42<br>
            ul. Kawiory 21<br>
            30-055 Kraków
        </div>
        <div>
            <h2>adres email</h2>
            <a href="mailto:wrss.wi@samorzad.agh.edu.pl">wrss.wi@samorzad.agh.edu.pl</a>
        </div>
    </div>
</div>
